In [1]:
import pandas as pd

from test_functions import *
from functions import *
from file_manager import *
from utils import *
from compare_directories import *

In [2]:
comparator = DirectoryDataFrameComparator("mine/output_v2_07_05", "google/output_v1_07_05", output_dir="./")

In [3]:
one = comparator.run(unique_only=False)

Comparing files: 100%|██████████| 84/84 [02:07<00:00,  1.51s/pair]

Comparisons complete!

In [5]:
one

,idx,df1_value,df2_value,column,remarks,df1_filename,df2_filename
0,5583,DAVAO DEL NORTE,COMPOSTELA VALLEY,Province,Unclassified difference,"RDO No. 112 - Tagum City, Davao del Norte_Shee...","RDO No. 112 - Tagum City, Davao del Norte_Shee..."
1,5584,DAVAO DEL NORTE,COMPOSTELA VALLEY,Province,Unclassified difference,"RDO No. 112 - Tagum City, Davao del Norte_Shee...","RDO No. 112 - Tagum City, Davao del Norte_Shee..."
2,5585,DAVAO DEL NORTE,COMPOSTELA VALLEY,Province,Unclassified difference,"RDO No. 112 - Tagum City, Davao del Norte_Shee...","RDO No. 112 - Tagum City, Davao del Norte_Shee..."
3,5586,DAVAO DEL NORTE,COMPOSTELA VALLEY,Province,Unclassified difference,"RDO No. 112 - Tagum City, Davao del Norte_Shee...","RDO No. 112 - Tagum City, Davao del Norte_Shee..."
4,5587,DAVAO DEL NORTE,COMPOSTELA VALLEY,Province,Unclassified difference,"RDO No. 112 - Tagum City, Davao del Norte_Shee...","RDO No. 112 - Tagum City, Davao del Norte_Shee..."
...,...,...,...,...,...,...,...
2983363,4146,,117.5,ZV/SQM,Missing value,"RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_...","RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_..."
2983364,4147,,70,ZV/SQM,Missing value,"RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_...","RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_..."
2983365,4148,,225,ZV/SQM,Missing value,"RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_...","RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_..."
2983366,4149,,35,ZV/SQM,Missing value,"RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_...","RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_..."
2983367,4150,,35,ZV/SQM,Missing value,"RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_...","RDO No. 61 - Gumaca, South Quezon_Sheet_9__DO_..."

In [34]:
exclude = ["RDO No. 72 - Roxas City, Capiz_Sheet_6__DO_025_2021_.xlsx"]

In [35]:
one[~one['df1_filename'].isin(exclude)]
# one

,idx,df1_value,df2_value,column,remarks,df1_filename,df2_filename
6583,10606,TINOC,,City/Municipality,Missing value,"RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx","RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx"
6584,10607,TINOC,,City/Municipality,Missing value,"RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx","RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx"
6585,10561,TULLUDAN,WANGWANG,Barangay,Unclassified difference,"RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx","RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx"
6586,10562,TULLUDAN,WANGWANG,Barangay,Unclassified difference,"RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx","RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx"
6587,10563,TULLUDAN,WANGWANG,Barangay,Unclassified difference,"RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx","RDO No. 12 - Lagawe, Ifugao_Sheet4__DO_74_18.xlsx"
...,...,...,...,...,...,...,...
588538,3971,INTERIOR,,Vicinity,Missing value,"RDO No. 101 - Iligan City, Lanao del Norte_She...","RDO No. 101 - Iligan City, Lanao del Norte_She..."
588539,4001,INTERIOR,,Vicinity,Missing value,"RDO No. 101 - Iligan City, Lanao del Norte_She...","RDO No. 101 - Iligan City, Lanao del Norte_She..."
588540,4031,INTERIOR,,Vicinity,Missing value,"RDO No. 101 - Iligan City, Lanao del Norte_She...","RDO No. 101 - Iligan City, Lanao del Norte_She..."
588541,4061,INTERIOR,,Vicinity,Missing value,"RDO No. 101 - Iligan City, Lanao del Norte_She...","RDO No. 101 - Iligan City, Lanao del Norte_She..."
588542,4091,INTERIOR,,Vicinity,Missing value,"RDO No. 101 - Iligan City, Lanao del Norte_She...","RDO No. 101 - Iligan City, Lanao del Norte_She..."

In [2]:
manually_cleaned = MusicFileManager(base_path="./output_files/manually_cleaned")
v3 = MusicFileManager(base_path="./output_files/output_v3_10_03")

VBox(children=(Dropdown(description='Select piece:', layout=Layout(width='500px'), options=(('Updated_RDO No. …

VBox(children=(Dropdown(description='Select piece:', layout=Layout(width='500px'), options=(('RDO No. 1 - Laoa…

In [7]:
pd.read_excel(manually_cleaned.selected_file)

,Province,City/Municipality,Barangay,Street/Subdivision,Vicinity,Classification,ZV/SQM
0,NCR,TAGUIG,BAGUMBAYAN,1st AVENUE,STA. MARIA REAL ESTATE COMPOUND,CR,41000
1,NCR,TAGUIG,BAGUMBAYAN,1st AVENUE,STA. MARIA REAL ESTATE COMPOUND,I,38000
2,NCR,TAGUIG,BAGUMBAYAN,2nd AVENUE,STA. MARIA REAL ESTATE COMPOUND,CR,41000
3,NCR,TAGUIG,BAGUMBAYAN,2nd AVENUE,STA. MARIA REAL ESTATE COMPOUND,I,38000
4,NCR,TAGUIG,BAGUMBAYAN,3rd AVENUE,MANALAC AVENUE TO JOSEPH SITT,CR,41000
...,...,...,...,...,...,...,...
4514,NCR,PATEROS,TABACALERA,SULUKAN,INT. F.C. TUAZON - END,CR,16000
4515,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,RR,10000
4516,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,CR,14000
4517,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,X,0
4518,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,I,0

In [9]:
pd.read_excel(v3.selected_file)

,Province,City/Municipality,Barangay,Street/Subdivision,Vicinity,Classification,ZV/SQM
0,NCR,TAGUIG,BAGUMBAYAN,1st AVENUE,STA. MARIA REAL ESTATE COMPOUND,CR,41000
1,NCR,TAGUIG,BAGUMBAYAN,1st AVENUE,STA. MARIA REAL ESTATE COMPOUND,I,38000
2,NCR,TAGUIG,BAGUMBAYAN,2nd AVENUE,STA. MARIA REAL ESTATE COMPOUND,CR,41000
3,NCR,TAGUIG,BAGUMBAYAN,2nd AVENUE,STA. MARIA REAL ESTATE COMPOUND,I,38000
4,NCR,TAGUIG,BAGUMBAYAN,3rd AVENUE,MANALAC AVENUE TO JOSEPH SITT,CR,41000
...,...,...,...,...,...,...,...
4516,NCR,PATEROS,TABACALERA,SULUKAN,INT. F.C. TUAZON - END,CR,16000
4517,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,RR,10000
4518,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,CR,14000
4519,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,X,0
4520,NCR,PATEROS,TABACALERA,ALL OTHER STREETS*,NaN,I,0